'.enhanced-project-folder atom-text-editor[mini]':
  'ctrl-r': 'enhanced-project-folder:replace'
  'tab':    'enhanced-project-folder:switch-action'
  'space':  'enhanced-project-folder:confirm-and-continue'
  'right':  'enhanced-project-folder:go-into'
  'left':   'enhanced-project-folder:go-back'
